h1{
    font-size: 2rem;
    color: $color-dark-blue;

    span{
        font-weight: 200;
    }
}

p{
    color: $color-light-blue;
}

h3{
    color: $color-dark-blue;
    margin: 0;
}